/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~mini.css/dist/mini-nord.css';

body {
	position: relative;
	color: white;
	height: 100vh;
	/*background: linear-gradient(120.96deg, #c31432, #240b36);*/
	background: linear-gradient(120.96deg, #0575e6, #021b79);
	overflow-y: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

#videoPreview {
	width: calc(100% / 1.9);
}

.linkBtn {
	margin: 0 !important;
}

button:hover {
	transform: scale(1.03);
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	height: fit-content;
	width: fit-content;
	margin: 10px;
}

a:hover {
	opacity: 1;
	text-decoration: none;
}

.CenterElement {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px 0;
}

.ToTheLeftElement {
	align-items: flex-start;
}

.SettingsPage {
}

#SettingsForm div {
	margin-bottom: 0.5em;
}

#SettingsForm label {
	display: inline-block !important;
	width: 65%;
}
